﻿@model IEnumerable<Modelo.Docente.CursoProfessor>
@{
    Layout = "_LayoutIES";
}

@section styles {
    <link rel="stylesheet" href="~/lib/datatables/media/css/jquery.dataTables.min.css" />
}

@if (@TempData["Message"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

    <div class="card-block">
        <br /><div class="text-center h1">Professores vinculados</div>
        <div class="card-body">
            <table class="table" id="tabela_curso_professor">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Curso.Departamento.Instituicao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Curso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Professor)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Curso.Departamento.Instituicao.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Professor.Nome)
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-success text-center">
            <a asp-action="AdicionarProfessor" class="btn-success">Criar um novo Vinculo</a>
        </div>
    </div>


@section ScriptPage {
    <script type="text/javascript" src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela_curso_professor').DataTable({
                "order": [[1, "asc"]]
            });
        });
    </script>
}
