﻿@model Modelo.Cadastros.Departamento
@{
    Layout = "_LayoutIES";
}
<div class="card-block">
    <br/><div class="text-center h1">Alterando um departamento existente</div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepartamentoID" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituicaoID" class="control-label"></label>
                <select asp-for="InstituicaoID" class="form-control" asp-items=@ViewBag.Instituicoes></select>
            </div>
            <div class="form-group text-center h3">
                <input type="submit" value="Atualizar Departamento" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Retornar à listagem de departamentos</a>
            </div>
        </form>
    </div>
</div>

@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
