﻿@model IEnumerable<Modelo.Cadastros.Curso>
@{
            Layout = "_LayoutIES";
}

@section styles {
    <link rel="stylesheet" href="~/lib/datatables/media/css/jquery.dataTables.min.css" />
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="card-block">
    <br/><div class="text-center h1">Cursos Registrados</div>
    <div class="card-body">
        <table id="tabela_cursos">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        Departamento
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento.Nome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CursoID">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.CursoID">Visualizar</a> |
                            <a asp-action="Delete" asp-route-id="@item.CursoID">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer bg-success text-center">
        <a asp-action="Create" class="btn-success">Criar um novo Curso</a>
    </div>
</div>


@section ScriptPage {
    <script type="text/javascript" src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela_cursos').DataTable({
                "order": [[1, "asc"]]
            });
        });
    </script>
}
