﻿@model Modelo.Cadastros.Instituicao
@{
    Layout = "_LayoutIES";
}

<div class="card-block">
    <br/><div class="text-center h1">Alterando uma instituição existente</div>
    <div class="card-body">
        <form asp-action="Edit">
            <input type="hidden" asp-for="InstituicaoID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group text-center h3">
                <input type="submit" value="Atualizar Instituição" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Retornar à listagem de instituições</a>
            </div>
        </form>
    </div>
    <div class="card-footer bg-info text-center text-white">
        Informe os dados acima e/ou clique em um dos botões de ação
    </div>
</div>
@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}